.card {
    display: block;
    border-radius: 10px;
   padding: 10px;
   margin-top: 25px;
   background: whitesmoke;
   height: fit-content;
   position: relative;
}

.card-img{
   
float: left;   
height: 125px;
width: 125px;
border-radius: 5px;
margin-right: 10px;
margin-top: 15px ;
object-fit: cover;



}
.locate{
    width: 8px;
    height: 12px; 
   margin-right: 5px;
    
     
}
.location {
    
    width: auto;
    height:fit-content;
    display: flex;
    align-items: center;
    font-size: small;
    padding: 5px;
   
}
 .title {
    display: block;
    height:fit-content;
    margin-bottom: 10px;
    font-size: 25px;
   
 }
 .date{
    display: block;
    height:fit-content;
    font-size:x-small;
    font-weight: bold;
    word-spacing: -1.5px;
    padding: 5px;
   
 }
 .desc{
    display: flex;
    text-align: justify;
    margin-left: 10px;
    font-size: medium;
    margin-top: 5px;
    word-spacing: -1px;
    font-weight: lighter;
}
 .map {
    margin-left: 10px;
    font-size: x-small;
    font-weight: bold;   
 }

 a{
    color: rgba(58, 61, 63, 0.394);
 }

 hr{
   border: none;
   border-bottom: 2px solid rgba(128, 128, 128, 0.512);
   margin: 0;
   margin-top: 20px;
 }