*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    font-family: 'Inter',sans-serif;
    background-color: rgba(239, 204, 180, 0.655);
}
 .app{
    display: block;
    justify-content: center;
    margin: 0 auto;
    max-width:700px;
    border-radius: 5px;
    height: fit-content;
    background-color: antiquewhite;
    padding: 15px;
 }
